

.App {
  text-align: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: cursive;
}


.App-intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.song-header{
  margin-bottom: 1rem;
}

.songs {
  min-height: 100vh;
}

.song{
  transition: opacity .5s;
}

.song-grid{
  transition: opacity .5s;
}



.song-card{
  transition: transform .2s;
}

.loader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media screen and (min-width: 760px) {
  .song-card:hover {
    transform: scale(1.1);
  }

}

