

.App {
  text-align: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}


.App-intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.song-header{
  margin-bottom: 1rem;
}

.songs {
  min-height: 100vh;
}



.song-card{
  transition: transform .2s;
}

.song-card:hover {
  transform: scale(1.1);
}

.loader{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url("./assets/music-loading.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

